div[style="border-color: hsl(0, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"], div[style="border-color: hsl(356, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"]{
    .embedTitle-3OXDkz.embedMargin-UO5XwE{
        margin-top: 0px !important;
    }
    .embedTitle-3OXDkz{
        color: white;
        font-weight: 300;
        font-size: 14px;
    }
    .embedDescription-1Cuq9a{
        margin-top: 0px;
        font-size: 13px;
    }
    .embedAuthor-3l5luH > a{
        font-weight: 500;
        font-size: 15px;
    }
}
.lyricsbtn, .nextbtn{
    transition: filter 0.5s, font-size 0.1s;
    height: 25px !important;
    width: 25px !important;
    background-color: var(--brand-experiment);
    position: absolute;
    font-size: 0px;
    background-repeat: no-repeat;
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/877957245185458176/microphone.png");
    background-size: 15px 15px;
    background-position: center;
    left: 102%;
    top: 2px;
    border-radius: 3px;
    &:hover{
        filter: drop-shadow(0px 0px 3px  var(--brand-experiment));
    }
}
//recent tracks
div[style="border-color: hsl(352, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"]{
    max-width: 500px;
}


div[style*="border-color: hsl(356, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"], 
div[style*="border-color: hsl(352, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"], 
div[style="border-color: hsl(358, calc(var(--saturation-factor, 1) * 60.8%), 52%);"],
div[style="border-color: hsl(15, calc(var(--saturation-factor, 1) * 92.6%), 42.2%);"],
div[style="border-color: hsl(340, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"]{
.embedThumbnail-2Y84-K, .embedThumbnail-2Y84-K img{
    height: 90px !important;
    width: 90px !important;
}
.embedImage-2W1cML, .embedImage-2W1cML img{
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    opacity: 0.6;
    margin: 0;
    z-index: -1;
    object-fit:cover;
    border-top-left-radius: 0px; border-bottom-left-radius: 0px;
}
z-index: 1;
border-color: var(--accent-color) !important;
}

.colorpreview{
    background-color: var(--accent-color);
    border-radius: 100px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 89.7%;
    justify-self: center;
    transform: translateY(18px);
}
.Restart{
    color: #f04747;
    font-weight: 600;
    font-size: 15px;
    transform: translateY(-5px);
    position: absolute;
}
div[style="border-color: hsl(340, calc(var(--saturation-factor, 1) * 61.1%), 51.6%);"]{
    .embedTitle-3OXDkz{
        margin-top: -2.5px !important;
        margin-bottom: 1.5px;
    }
    .embedTitle-3OXDkz{
        color: white;
        font-weight: 300;
        font-size: 14px;
    }
    .embedDescription-1Cuq9a{
        margin-top: -5px;
        font-size: 13px;
        line-height: 18px;
    }
    .embedAuthor-3l5luH{
        margin-top: 1px !important;
    }
    .embedAuthor-3l5luH > a{
        font-weight: 500;
        font-size: 15px;
    }
    border-color: var(--accent-color) !important;
    .embedProvider-3k5pfl{
        margin-top: 1px !important;
        
    }
}
input[note="use hex values like #00000 or css color values like 'black' or 'pink'"]{
    color: var(--accent-color);
   &:focus{ border-color: var(--accent-color); }
}
.soon{
    color: #e392fc;;
}
.DiscordFmSettings .colorPickerSwatch-5GX3Ve.custom-2SJn4n.noColor-1pdBDm{
    background-color: var(--accent-color);
}
/* coolkid */
.userPopout-xaxa6l[aria-label="mr_miner"] .headerText-1vVs-U::after:hover{
    content:"Discord.fm Dev";
    font-size: 13px;
    -webkit-text-fill-color: rgb(202, 74, 74);   
    font-family: 'Slabo 13px', sans-serif;
    font-weight: 500;
}
.userPopout-xaxa6l[aria-label="mr_miner"] .headerTagDiscriminatorNoNickname-D-AYUN:after{
    content: "" !important;
}